li {
  float: left;
  text-align: center;
  width: 5em;
  cursor: default;
}

li:hover {
  background-color: rgb(179, 191, 227);
  color: white;
}

.list__container {
    list-style-type: none;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.list_element {
  border-style: dashed;
  border-color: rgb(243, 210, 45);
  padding: 5px;
}